<div class="input-group">
  <input
    class="form-control border-end-0 border rounded-pill"
    type="text"
    placeholder="Search for news articles..."
    #searchinput
    (keyup.enter)="search(searchinput.value)"
  />
  <span class="input-group-append">
    <button
      class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill"
      type="button"
      (click)="search(searchinput.value)"
    >
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </button>
  </span>
</div>
